{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<a href="{{path('app_articles')}}">articles</a>
	<a href="{{path('app_categories')}}">catégories</a>
	<a href="{{path('app_deffault')}}">home</a>
	<a href="{{path('app_nouvel_article')}}">Nouvel Article</a>
	<a href="{{path('app_nouvelle_catégorie')}}">Nouvelle Catégorie</a>


	<h1>Books Inventory</h1>

	<button>
		<a href="{{path('app_categories')}}">explorer les catégories</a>
	</button>


{% endblock %}
