{% extends 'base.html.twig' %}

{% block title %}Hello NouvelleCategorieController!
{% endblock %}

{% block body %}
	<a href="{{path('app_articles')}}">Articles</a>
	<a href="{{path('app_categories')}}">Catégories</a>
	<a href="{{path('app_deffault')}}">Home</a>
	<a href="{{path('app_nouvel_article')}}">Nouvel Article</a>
	<a href="{{path('app_nouvelle_catégorie')}}">Nouvelle Catégorie</a>


	<h1>Ajouter une nouvelle catégorie</h1>
	{{ form_start(form) }}
	{{ form_row(form.categorie) }}
	{{ form_row(form.ajouter) }}
	{{ form_end(form) }}


{% endblock %}
